<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trainers</title>
  <link href="/styles/styles.css" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div id="adminRole" style="display:none;"><%= admin %></div>
<section id="sideMenu">
  <a href="/trainers">
    <div class="logoContainer">
      <img src="/images/nutritionDepotLogo.png">
    </div>
  </a>
  <div class="sideMenuOptions">
    <a href="/trainers">
      <div>Trainers</div>
    </a>
    <a class="admin" href="/analytics">
      <div>Analytics</div>
    </a>
    <a class="admin" href="/admin">
      <div>Admin</div>
    </a>
  </div>
</section>

  <section id="main">

    <div id="topMenu">
      <div class="searchContainer">
        <div class="divider">
        </div>
        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        <input type="text" placeholder="Type anywhere to search" id="searchTrainersInput" class="searchTrainersBox" />
      </div>
      <div class="userSettingsContainer">
        <div class="divider">
        </div>
        <div class="userSettings">
          <a href="/logout">
            <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="admin" id="mainContent">
     
      <form action="/admin" method="POST">
        <div class="row">
          <h1 class="trainerTitle nonUpdateForm">Add New Trainer</h1>
          <button type="submit" class="actionButton">Add</button>
        </div>
        <div class="trainerCard individualTrainer">
          <div class="individualTrainerViewFlex">
              <div class="individualTrainerInfoValues"> 
                <span class="infoLabel">
                  <div class="faContainer">
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                  </div>
                First Name:</span>
                <input class="formInput" type="text" placeholder="First Name" name="firstName">
              </div>
              <div class="individualTrainerInfoValues"> 
                <span class="infoLabel">
                  <div class="faContainer">
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                  </div>
                Last Name:</span>
                <input class="formInput" type="text" placeholder="Last Name" name="lastName">
              </div>
              <div class="individualTrainerInfoValues"> 
                <span class="infoLabel">
                  <div class="faContainer">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                  </div>
                Email:</span>
                <input class="formInput" type="text" placeholder="Email" name="email">
              </div>
              <div class="individualTrainerInfoValues"> 
                <span class="infoLabel">
                  <div class="faContainer">
                    <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                  </div>
                Work:</span>
               <input class="formInput" type="text" placeholder="Work Number" name="workNumber">
              </div>
              <div class="individualTrainerInfoValues"> 
                <span class="infoLabel">
                  <div class="faContainer">
                    <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                  </div>
                Mobile:</span>
                <input class="formInput" type="text" placeholder="Mobile Number" name="mobileNumber">
              </div>
             
              <div class="individualTrainerInfoValues"> 
                <span class="infoLabel">
                  <div class="faContainer">
                    <i class="fa fa-tag fa-2x" aria-hidden="true"></i>
                  </div>
                Promo Code:</span>
               <input class="formInput" type="text" placeholder="Promo code" name="promoCode">
              </div>
            </div>
        </div> 
        
      </form>
    </div>
  </section>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>