<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>
  <link href="/styles/styles.css" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="loginContainer trainerCard">
		<h3 class="textRed"><%= errMessages %></h3>
		<div>
		<h1>Forgot Password</h1>
		<form method="POST" action="/forgot">
			<input type="text" class="formInput" name="email" placeholder="Email">
			<input type="submit" class="actionButton" value="Forgot Password">
		</form>
		</div>
	</div>
</body>
</html>